
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap');

:root {
    --black: #2e2e2e;
    --grey: #5A5959;
    --red: #d01c28;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    max-width: 1280px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    font-weight: 600;
}

li a {
    text-decoration: none;
    color: var(--black);
}

.login-btn {
    padding: 0.5em 2em;
    background-color: var(--red);
    color: var(--white);
    font-weight: 600;
    border: none;
    outline: none;
}

main.hero-section .container {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 72px - 100px);
}

.title-section {
    width: 595px;
    margin: auto;
}

.title-section h1 {
    font-size: 108px;
    font-weight: 800;
    line-height: 102px;
}

.title-section p {
    font-size: 16px;
    width: 503px;
    height: 91px;
    font-weight: 600;
    margin: 2rem 0;
    color: var(--grey);
}

.btn-shop-category {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 489px;
}

.btn-shop-category button {
    height: 36px;
    border: none;
    outline: none;
    padding: 0 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-shop-now {
    background-color: var(--red);
    color: var(--white);
}

button.btn-category {
    background-color: transparent;
    color: var(--grey);
    border: 1px solid var(--black);
}

.title-image{
    width: 530px;
    height: 507px;
}

.title-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 1.5rem 1rem 0;
}

footer {
    display: flex;
    justify-content: center;
}

.shopping {
    height: 100px;  
    width: 503px;
    text-align: center;
    align-items: start;
    color: var(--grey);
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icons img {
    height: 32px;
    width: 32px;
    cursor: pointer;
}